node_modules/
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
.vsix

# Environment Files
.env

.hirs-aca-volume/

# Certificates
SCA-Project-Services/nginx-proxy/certs/wildcard-lab-nccoe-org.cer
SCA-Project-Services/nginx-proxy/certs/wildcard-lab-nccoe-org.key
SCA-Project-Services/nginx-proxy/certs/wildcard-lab-nccoe-org.pass
